@font-face {
  font-family: bonyadekoodak;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/BonyadeKoodak/BonyadeKoodak-Light.woff") format("woff");
}

.bonyad,
select,
input,
textarea,
p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
button,
label,
[class^="go"] {
  font-family: bonyadekoodak !important;
}

input[dir=ltr]::placeholder {
  text-align: right;
  direction: rtl;
}

.container {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 126px);
  border-radius: 10px;
}
.leaflet-popup-content {
  margin: 0 !important;
}

@media only screen and (max-width: 640px) {
  .leaflet-container {
    height: calc(100vh - 270px);
  }
}
